<?php

define('DB_NAME','{{ wordpress_db }}');
define('DB_USER','{{ wordpress_db_user }}');
define('DB_PASSWORD','{{ wordpress_db_password }}');
define('DB_HOST','localhost');

define('DB_CHARSET','utf8');
define('DB_COLLATE','');

$table_prefix='wp_';

define('WP_DEBUG',false);

if (!defined('ABSPATH')) {
    define('ABSPATH',__DIR__.'/');
}

require_once ABSPATH.'wp-settings.php';
