server {
listen 80;
server_name yadhurd.xyz [www.yadhurd.xyz](http://www.yadhurd.xyz);
return 301 https://$host$request_uri;
}

server {
listen 443 ssl;
server_name yadhurd.xyz [www.yadhurd.xyz](http://www.yadhurd.xyz);

ssl_certificate /etc/letsencrypt/live/yadhurd.xyz/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/yadhurd.xyz/privkey.pem;

root {{ website_root }};
index index.php index.html;

location / {
    try_files $uri $uri/ /index.php?$args;
}

location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass unix:/run/php-fpm/www.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
}

location /phpmyadmin/ {
    alias /usr/share/phpmyadmin/;
    index index.php;

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php-fpm/www.sock;
        fastcgi_param SCRIPT_FILENAME $request_filename;
    }
}

location ~ /\.ht {
    deny all;
}

}

